.App {
  padding-left: 10rem;
}

.characters {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wishlist {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wishlist h2 {
  text-align: center;
}

.char {
  width: 200px;
  height: 250px;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.charImg {
  width: 100%;
  height: 125px;
  border-bottom: 2px solid black;
  object-fit: scale-down;
}

.charText {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.charButton {
  margin-left: 0.5rem;
}

.appContainer {
  display: flex;
  flex-direction: row;
}
