.App {
  padding-left: 10rem;
}

.optionMenu {
  width: 70%;
  margin-bottom: 1rem;
}

.sortMenu {
  height: 10%;
  display: flex;
  flex-direction: row;
}

.appContainer {
  display: flex;
  flex-direction: row;
}

.characters {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wishlist {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wishlist h2 {
  text-align: center;
}

.char {
  width: 200px;
  height: 285px;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.charImg {
  width: 100%;
  height: 125px;
  border-bottom: 2px solid black;
  object-fit: scale-down;
}

.charText {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.charText-title {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.charButton-add {
  margin-left: 0.5rem;
  background-color: white; 
  color: 1976d2; 
  border: 2px solid #42a5f5;
}

.charButton-add:hover {
  background-color: #42a5f5;
  color: white;
}

.charButton-remove {
  margin-left: 0.5rem;
  background-color: white; 
  color: black; 
  border: 2px solid #D3D3D3;
}

.charButton-remove:hover {
  background-color: #D3D3D3;
  color: white;
}
